        @if (error) {
        <h4>Internal Server Error</h4>
        <h5 class="font-extrabold text-error">Error: {{error.message}}</h5>
        <p class="font-bold">Note: If you're seeing this error, then Angular is not to blame!</p>
        <p>What to do next?</p>
        <ol>
            <li>
                Open Chrome DevTools and check the failing network request in the Network tab.
            </li>
            <li>
                Examine the URL of the failing request.
            </li>
            <li>
                Reproduce the error in Postman - if you can reproduce the error then Angular is not to blame!
            </li>
        </ol>
        <p class="font-medium">Following is the StackTrace - check the first two lines, this tells you exactly which line of code caused
            the problem!</p>
        <code class="block my-2 text-start bg-base-300">
            {{error.details}}
        </code>
        } @else {
        <div class="container text-dark">
            <div class="flex align-middle justify-center px-2">
                <div class="text-center">
                    <h1 class="font-extrabold">500</h1>
                    <p class="text-2xl font-medium mt-4">Internal server error</p>
                    <p class="mt-4 mb-5">Something went wrong, please contact support.</p>
                    <a routerLink="/" class="btn btn-info font-semibold rounded-2xl px-4 py-2">
                        Go Home
                    </a>
                </div>
            </div>
        </div>
        }