<header class="p-3 w-full fixed top-0 z-50 bg-linear-to-r from-primary to-black">
    <div class="flex align-middle items-center px-10 mx-auto gap-6">
        <a class="flex items-center gap-3 max-h-16 text-white border-r-white border-r2 pr-6">
            <!-- routerLink="/"  routerLinkActive="active" -->
            >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path
                    d="M4.5 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM14.25 8.625a3.375 3.375 0 1 1 6.75 0 3.375 3.375 0 0 1-6.75 0ZM1.5 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM17.25 19.128l-.001.144a2.25 2.25 0 0 1-.233.96 10.088 10.088 0 0 0 5.06-1.01.75.75 0 0 0 .42-.643 4.875 4.875 0 0 0-6.957-4.611 8.586 8.586 0 0 1 1.71 5.157v.003Z" />
            </svg>
            <h3 class="text-2xl font-semibold text-white uppercase">Dating App</h3>
        </a>


        <nav class="flex gap-3 my-2 uppercase text-lg text-white">
            <!-- @if (accountService.currentUser()) {
                <li class="nav-item">
                    <a routerLink="/members" routerLinkActive="active" class="nav-link">Matches</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/lists" routerLinkActive="active" class="nav-link">Lists</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/messages" routerLinkActive="active" class="nav-link">Messages</a>
                </li>
            }
            <li class="nav-item">
                <a routerLink="/errors" routerLinkActive="active" class="nav-link">Errors</a>
            </li> -->

            <a href="">Matches</a>
            <a href="">List</a>
            <a href="">Messages</a>
        </nav>
        <div class="flex align-middle ml-auto gap-3">
            @if (accountService.currentUser(); as user) {
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="flex items-center text-white text-xl gap-3 cursor-pointer">
                    <img src="../../../public/assets/user.png" alt="user avatar" class="w-8 h-8 rounded-full">
                    <span>{{user.displayName}}</span>
                </div>
                <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
                    <li><a>Edit profile</a></li>
                    <li><a (click)="logout()">Log out</a></li>
                </ul>
            </div>
            } @else {
            <form class="flex item-center gap-3" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
                <input type="text" name="email" [(ngModel)]="creds.email" class="input" placeholder="Email">
                <input type="password" name="password" [(ngModel)]="creds.password" class="input"
                    placeholder="Password">
                <button type="submit" class="btn">Login</button>
            </form>
            }
        </div>


        <!-- @if (accountService.currentUser()) {
        <div dropdown class="dropdown">
            <img src="{{accountService.currentUser()?.photoUrl || './assets/user.png' }}" alt="User main image" class="me-2 rounded-circle">
            <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">
                Welcome {{accountService.currentUser()?.username | titlecase}}
            </a>
            <div *dropdownMenu class="dropdown-menu">
                <a routerLink="/member/edit" class="dropdown-item">Edit profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>
        }

        @if (!accountService.currentUser()) {
        <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" autocomplete="off">
            <input name="username" [(ngModel)]="model.username" class="form-control me-2" placeholder="Username">
            <input name="password" [(ngModel)]="model.password" class="form-control me-2" placeholder="Password"
                type="password">
            <button class="btn btn-secondary" type="submit">Login</button>
        </form>
        } -->


    </div>
</header>